{% extends "layout.xhtml" %}
{% block title %}about - typowriter.org{% endblock %}
{% block body %}
<h1>Profile</h1>
<section>
    <div class="fit_right">
        <img class="display_block" src="/img/burglar_cat.png" alt="buglar_cat"/>
{#        <img class="display_block" src="/img/wo-class-teokure.png" alt="teokure"/>#}
    </div>
    <dl>
        <dt>cocuh</dt>
        <dd>こく[kokɯ]</dd>

        <dt>Interest</dt>
        <dd>機械学習</dd>
        <dd>離散最適化</dd>
        <dd>創発・集団的知性</dd>
        <dd>セキュリティ・プライバシー</dd>
        <dd>ソフトウェア設計</dd>
        <dd>ArchLinux</dd>
        <dd>オタク機械学習</dd>
        <dd>技術の無駄遣い</dd>
        <dd>他分野もわりと全般的に などなど</dd>

        <dt>Language</dt>
        <dd>Python3</dd>
        <dd>ECMAScript6</dd>
        <dd>C++</dd>
        <dd>SVG</dd>
        <dd>Cython</dd>
        <dd>Rust</dd>
        <dd>OCaml</dd>
        <dd>Ruby</dd>
        <dd>Java8</dd>
        <dd><span dir="auto"><span lang="en">L<span
                style="text-transform: uppercase; font-size: 70%; margin-left: -0.36em; vertical-align: 0.3em; line-height: 0; margin-right: -0.15em">a</span>T<span
                style="text-transform: uppercase; margin-left: -0.1667em; vertical-align: -0.5ex; line-height: 0; margin-right: -0.125em">e</span>X</span></span>2ε(見習い)
        </dd>
        <dd>HTML5, CSS</dd>
        <dd>C</dd>
        <dd>などなど</dd>

        <dt>Like</dt>
        <dd>Arch Linux</dd>
        <dd>Python Oneliner</dd>
        <dd>index.svg</dd>
        <dd>The Elder Scrolls IV,V</dd>
        <dd>Civilization IV,V</dd>
        <dd>Europa Universalis IV</dd>
        <dd>攻殻機動隊(原作)</dd>
        <dd>イノセンス</dd>
        <dd>プリズマ☆イリヤ</dd>
        <dd>魔法少女リリカルなのはINNOCENTS</dd>
        <dd>お風呂に入りながら考えごと</dd>
        <dd>おふとん</dd>
    </dl>
</section>
<section>
    <h2>Contact</h2>
    <table>
        <tr>
            <td class="table_icon"><img class="icon_github icon" src="/img/icons/GitHub-Mark-32px.png"
                                       title="https://github.com/logos" alt="githubicon"/></td>
            <th>github</th>
            <td><a href="https://github.com/cocuh">cocuh</a></td>
        </tr>
        <tr>
            <td class="table_icon"><span class="icon_blog icon"
                                        title="https://github.com/hatena/Hatena-Blog-Logo"></span></td>
            <th>hatena</th>
            <td><a href="http://cocu.hatenablog.com/">cocu_628496</a></td>
        </tr>
        <tr>
            <td class="table_icon"><span class="icon_twitter icon" title="https://twitter.com/logo"></span></td>
            <th>twitter</th>
            <td><a href="https://twitter.com/cocuh_">cocuh_</a></td>
        </tr>
        <tr>
            <td class="table_icon"><span class="icon_amazon icon"></span></td>
            <th>Amazon</th>
            <td><a href="http://www.amazon.co.jp/registry/wishlist/2WU93D0FMQKUS">wishlist</a></td>
        </tr>
        <tr>
            <td class="table_icon"><span class="icon_qiita icon"></span></td>
            <th>Qiita</th>
            <td><a href="http://qiita.com/cocuh">cocuh</a></td>
        </tr>
    </table>
</section>
{% endblock body %}
